body {
    background-color: #F5F5F5;
}


/* all h3 style */

h3 {
    font-size: 17px;
    font-weight: bold;
    margin: 15px auto;
    text-align: center;
}

.header_section {
    max-width: 1440px;
    width: 100%;
    height: 716px;
    background-color: #e8d9b0;
    border-bottom-right-radius: 26%;
    border-bottom-left-radius: 26%;
    box-shadow: 3px 7px 8px 4px #775a15;
    margin: 0 auto;
    padding-top: 44px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-around;
}

.nav_ul {
    display: flex;
    align-items: center;
}

.nav_li {
    margin-left: 30px;
    font-size: 14px;
}

.nav_li a {
    font-size: 14px;
    font-weight: bold;
    color: black;
    font-family: sans-serif;
}

.li_border {
    width: 118px;
    height: 30px;
    border: 3px solid #FE9563;
    border-radius: 5px;
    padding: 5px 20px;
}


/* .downmaneu {
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.downmaneu li {
    margin-top: 15px;
    width: 100%;
    height: 0px;
}

nav li:hover .downmaneu {
    opacity: 1;
    visibility: visible;
} */

.background_img {
    background-image: url(../img/background_map.png);
    max-width: 1350px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    margin: 110px;
}

.header_2_wrap {
    display: flex;
    justify-content: center;
}

.header_2_wrap h2 {
    font-size: 42px;
    width: 421px;
    font-weight: bold;
    line-height: 53px;
    color: #455A64;
}

.header_2_wrap p {
    font-size: 16px;
    width: 420px;
    color: #535359;
    margin-top: 20px;
    line-height: 20px;
}

.header_2_wrap h4 {
    width: 130px;
    height: 30px;
    background-color: #535359;
    border-radius: 10px;
    padding: 6px 25px;
    margin-top: 30px;
}

.header_2_wrap span {
    color: white;
}


/* section 2 */

.section_2 {
    max-width: 1200px;
    width: 100%;
    margin: 72px auto;
}

.smoll_3_box {
    display: flex;
    justify-content: space-between;
}

.smoll_box {
    width: 363px;
    height: 279px;
    background-color: #F5F2EB;
    border-radius: 44px;
    box-shadow: 3px 7px 8px 4px #775a15;
    padding: 48px;
}

.smoll_box img {
    margin: 0 auto;
    display: flex;
    width: 76px;
}

.smoll_box p {
    font-size: 17px;
    width: 230px;
    color: #535359;
    text-align: center;
}


/* section 2 footer */

.section_2_footer {
    max-width: 1050px;
    width: 100%;
    margin-top: 133px;
    display: flex;
    justify-content: space-around;
}

.section_2_footer div {
    max-width: 457px;
    width: 100%;
    margin-top: 30px;
}

.section_2_footer h2 {
    font-size: 42px;
    font-weight: bold;
    color: #455A64;
    text-align: center;
    width: 400px;
    margin-top: 20px;
}

.section_2_footer p {
    font-size: 17px;
    color: #535359;
    margin-top: 40px;
    line-height: 25px;
}


/* section 3 */

.section_3 {
    max-width: 1213px;
    width: 100%;
    height: 791px;
    background-color: #e8d9b0;
    box-shadow: 3px 7px 8px 4px #775a15;
    margin: 0 auto;
    border-radius: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text_3box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_box {
    width: 389px;
    height: 132px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.text_box img {
    width: 56px;
}

.section_3 p {
    width: 319px;
    font-size: 17px;
    color: #535359;
    line-height: 20px;
    margin-left: 20px;
}

.big_img {
    max-width: 524px;
    width: 100%;
    /* height: 521px; */
}


/* section 4 */

.section_4 {
    max-width: 1213px;
    width: 100%;
    margin: 113px auto;
}

.header_4 {
    max-width: 627px;
    width: 100%;
    height: 123px;
    margin: 0 auto;
}

.header_4 h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header_4 p {
    font-size: 16px;
    color: #393939;
    line-height: 25px;
    width: 523px;
    text-align: center;
}

.smoll_box_4 {
    max-width: 473px;
    width: 100%;
    height: 381px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.right_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.smoll_box_4 p {
    max-width: 468px;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    margin: 0 auto;
}

.smoll_box_4 a {
    margin-left: 20px;
}


/* section 5 start */

.section5 {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
}

.header {
    max-width: 567px;
    width: 100%;
    margin: 0 auto;
}

.header h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.header p {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.smoll_wraper {
    max-width: 450px;
    width: 100%;
    height: 120px;
}

.smoll_wraper p {
    font-size: 16px;
    line-height: 18px;
}

.text_wraper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


/* section 6 start  */

.section6 {
    max-width: 935px;
    width: 100%;
    display: flex;
    justify-content: space-betweens;
    flex-wrap: wrap;
    margin: 40px auto;
}

.logo_p {
    width: 303px;
    height: 236px;
}

.logo_p a {
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: bold;
}

.logo_p p {
    font-size: 16px;
    line-height: 20px;
}

.table_list {
    max-width: 600px;
    width: 100%;
    height: 155px;
}

td,
th {
    padding: 0 26px;
    text-align: center;
    color: #393939;
}

tr {
    height: 27px;
}

th {
    color: #000;
    font-weight: bold;
}


/* footer */

footer {
    width: 100%;
    height: 61px;
    background-color: #FE9563;
    padding: 15px;
}

footer div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}